<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Management_Store.Properties.Settings.StoreManagementConnectionString"
            connectionString="Data Source=DESKTOP-JCG84Q8\SQLEXPRESS;Initial Catalog=StoreManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Management_Store.Properties.Settings.StoreManagementConnectionString1"
            connectionString="Data Source=DESKTOP-HM8SG2K\SQLEXPRESS;Initial Catalog=StoreManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>